:root{
  --branco: #ffff;
  --preto: #2a2a2a;
  --goiaba: #DC3B53;
  --bordo: #BC005E;
  --marinho:#0F2B72;
  --azul:#00CBD4;
}
/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo para a Splash Screen */
  .splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--azul) 0%, var(--branco) 80%);
    color: var(--branco);
    font-size: 24px;
  }

  .splash-screen img {
    width: 80%; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção */
    object-fit: contain; /* A imagem será ajustada para caber dentro da área sem distorção */
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
   -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
  }
  
  /* Estilo para o conteúdo principal */
  .content {
    display: none; /* Ocultar o conteúdo inicial */
    padding: 20px;
  }

