:root {
    --branco: #ffff;
    --preto: #2a2a2a;
    --goiaba: #DC3B53;
    --bordo: #BC005E;
    --marinho: #0F2B72;
    --azul: #00CBD4;
    --font-size-base: 1rem; /* Tamanho base da fonte */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--goiaba);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

/* .header {
    position: absolute;
    top: 1rem;
    left: 1rem;
} */

.container {
    text-align: center;
    margin-top: 1rem;
}

.logo-banner img {
    max-width: 25rem; /* Ajusta o tamanho da imagem */
    height: auto;
}

.formulario {
    background-color: var(--goiaba); /* Fundo do formulário */
    padding: 1rem;
    border-radius: 8px;
    width: 90%;
    max-width: 25rem;
    margin-top: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.30rem;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--branco);
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 0.6rem;
    background-color: var(--branco);
    color: var(--bordo);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--bordo);
    color: var(--branco);
}

.link-cadastro {
    margin-top: 1rem;
    text-align: center;
}

.link-cadastro a {
    color: var(--branco);
    text-decoration: none;
    font-size: 1rem;
}

.link-cadastro a:hover {
    text-decoration: underline;
    color: var(--branco);
}