:root {
    --branco: #ffff;
    --preto: #2a2a2a;
    --goiaba: #DC3B53;
    --bordo: #BC005E;
    --marinho: #0F2B72;
    --azul: #00CBD4;
}

/* Garante que a página ocupe toda a viewport */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bordo); 
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

/* Estilos para o conteúdo principal */
#conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Garante que o conteúdo ocupe toda a largura */
    margin-top: 1.5rem; /* Espaço extra no topo */
    padding-bottom: 2.5rem; /* Espaço extra na parte inferior para a imagem */
}

.texto-container {
    text-align: center;
    margin-bottom: 8rem; 
}

.titulo {
    color: var(--branco);
    font-size: 2rem;
    font-family: 'DynaPuff', sans-serif;
    margin-top: 3.5rem;
  
}

#sinais-frase {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 4rem;
}

.imagem-container {
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin-top: 3rem; 
    padding-bottom: 8rem; 
}

.imagem-container img {
    max-width: 90%; 
    height: auto;
}

.header {
    position: absolute;
    top: 0.6rem; 
    left: 0.6rem; 
}


