:root {
    --branco: #ffff;
    --preto: #2a2a2a;
    --goiaba: #DC3B53;
    --bordo: #BC005E;
    --marinho: #0F2B72;
    --azul: #00CBD4;
    --font-size-base: 1rem; /* Tamanho base da fonte */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bordo);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    text-align: center;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px;
}

.back-button {
    font-size: 30px;
    color: var(--branco);
    text-decoration: none;
    margin-left: 10px;
}

.back-button img {
    width: 40px;
    height: 70px;
    margin-right: 5px;
}

.container {
    width: 90%;
    max-width: 25rem;
    margin-top: 1rem;
    text-align: center;
}

.title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.title-icon .icon {
    width: 100px; /* Tamanho da imagem */
    height: auto;
    margin-right: 15px; /* Espaço entre a imagem e o título */
}

.title-icon .title {
    margin: 0;
    font-size: 2.5rem;
    text-align: left; /* Alinha o texto à esquerda */
    font-family: 'DynaPuff', sans-serif;
    font-weight: bold;
}

.content {
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
}

.content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.icon {
    display: block;
    margin: 0 auto 20px auto;
}

p {
    text-align: justify;
}



